



body {
    margin: auto;
    height: 100%;
}

body {
    background-color: whitesmoke;
}

header {

    font-size: calc(2vw + 1vh);
    background: black;
    color: white;
    padding: 20px;
    max-width: 100%;
    margin: auto;
}

.negative {
    color: red;
}

main input {
    border-color: darkslategrey;
    color: ghostwhite;
    border-radius: 5px;
}

#result {
    color: black;
}

.cat {
    margin:auto;
    width: 50%;
    height:auto;
    padding-top: 5%;
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;

}
.buttons {
   padding: 0;

}
.buttons button {
    background-color: darkslategrey;
    color: white;
    border-radius: 10px;
}

.calculator {
    justify-content: center;
    margin: auto;
    align-content: center;
    text-align: center;
}

.center {
    width: 35%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;

}
.sidebar {
    flex: 0 0 30%;

    flex-wrap: wrap;
    justify-content: space-between;
    display: block;
    font-size: calc(2vw + 1vh);

    max-width: 30%;
    background-color: ghostwhite;
    padding: 20px;
    height: auto;

}
.sidebar li {
    flex: 1;
    padding: 10px;
    text-align: center;

}

.sidebar a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 10px;
    background-color: darkslategray;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.main {
    flex: 1;
    margin: auto;
    background-color: whitesmoke;
    padding:5%;

}
main label {
    font-size: calc(1vw + 1vh);
}

main p {
    font-size: calc(1.5vw + 1vh);
}

main button {

}

h3{
    padding: 0.5%;
    font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin:auto;
    max-width: 70%;
    text-align: center;
}

label {
    padding: 5%;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: calc(0.8vw + 0.4vh);
    margin-left:auto;
    max-width: 70%;
}


main p {

    margin: auto;
    padding: 5%;
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    display: flex;

}

.main-content {
    flex: 1;
    padding: 20px;
}


p {
    font: 14px sans-serif;
}

.label_1{
    margin:auto;
    text-align: center;
}
.label_2{
    margin:auto;
    text-align: center;
}

table{

    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

}
footer {
    background: black;
    color: white;
    padding: 20px;
    max-width: 100%;
    margin: auto;

}


@media (max-width: 750px) {


    header {
        text-align: center;
        background: black;
        color: white;


    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: ghostwhite;
    }

    .sidebar {
        width: 100%;
        background-color: ghostwhite;
        padding: 2vw 0;
        margin-top: 0;
        height: auto;
        flex-wrap: wrap;
        display: flex;
        justify-content: flex-start;
        text-align: center;
    }

    .sidebar ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:0.5vw;
        max-width: 750px; /* Limit maximum width */
        margin: auto;
        padding: 0;
        list-style: none;
        width: 100%;

    }

    .sidebar li {

        font-size: calc(1.1vh + 0.5vw);
        align-content: center;


    }

    .sidebar li a{
        display: block;
        align-content: center;
        margin: auto;
        padding: calc(1vw + 1vh);
        background-color: darkslategrey;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        white-space: nowrap;
        font-size: calc(1.1vh );

    }

    .main {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 5%;
        margin-left:auto;
        margin-right: auto;
        height: 100vh;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

}